html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.walletconnect-qrcode__text {
  margin-bottom: 0.5em !important;
}

.arrow{
    transition: transform 0.5s ease;
    transform: translateX(0);


    g path{
        transition: transform 0.5s ease;
        transform: scaleX(100%);
    }

    &:hover{
        transform: translateX(-5px);

        g path:first-child {
            transform: scaleX(140%);
        }
    }

    &.down{
        transform: rotate(-90deg);
        transform-origin: center right;
    }
}

.aspect {
  width: 100%;
  height: 0;
  position: relative;
  .ratio {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img, 
    picture {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.editor {
  width: 100%;
  position: relative;
  
  .menu-bar {
    width: 100%;
    transform: translateX(-0.5rem);    
  }
  
  &.basic {
    border-radius: 0;
    transition: all 0.25s;
    
    .wrapper {
      min-height: 200px;
      max-height: 500px;
      overflow-y: auto;

    }
    // &.is-focussed {
    //   border-color: var(--chakra-colors-gray-500);
    //   box-shadow: 0 0 0 1px var(--chakra-colors-gray-500);
    // }

    .ProseMirror {
      height: 100%;
      min-height: 100px;
      background-color:transparent;
      overflow-y: auto;
      padding: 0;
      font-family: "Source Code Pro", monospace;
    }
  }

  &.is-error { 
    &.basic {
      .ProseMirror p.is-editor-empty:first-child::before,
      .ProseMirror p.is-empty::before {
        color: var(--chakra-colors-red-400);
        
      }

    }
  }

  &.has-char-count {
    .ProseMirror {
      padding-bottom: var(--chakra-space-8);
    }
  }
  .char-count {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.ProseMirror {
  overflow-y: auto;
  > * + * {
    margin-top: 0.75em;
  } 
  
  min-height: 100px;
  &:focus {
    outline: none;
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--chakra-colors-gray-200);
  pointer-events: none;
  height: 0;
}

/* Placeholder (on every new line) */
.ProseMirror p.is-empty::before {
  content: "...";
  float: left;
  color: var(--chakra-colors-gray-200);
  pointer-events: none;
  height: 0;
}

@keyframes loadingAnimationCross {
  0%   { width: 0%; left: 0px; right: auto;}
  49.99% { width: 100%; left: 0px; right: auto;}
  50% { width: 100%; left: auto; right: 0px;}
  99.99% { width: 0%; left: auto; right: 0px;}
}

.loadingbar {
  display: none;
  width: 0px;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  &.loading {
    display: block;
    animation: loadingAnimationCross 1.5s infinite;
  }
}


.artwork.item {
  width: 100%;
  display: flex;
  overflow: hidden;
  .info {
    width: 33.33%;
    padding: 0.5rem;
    writing-mode:vertical-rl;
    transform: rotate(180deg);

    a::before {
      width: 100vw;
    }
  } 
  .img {
    width: 66.66%;
    picture, img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    pointer-events: none;
  }

  &:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 45rem) {
  .artwork.item {
    width: 50%;
    display: flex;

    flex-direction: row-reverse;

    .info {
      a::before {
        width: 50vw;
      }
    } 

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      flex-direction: row;
      .info {
        a::before {
          left: auto;
          right: 0;
        }
      } 
    }
  }
}
